<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jincity.scirssfeeds"
    android:versionCode="3"
    android:versionName="1.03" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/test" >
        <activity
            android:name="com.jincity.scirssfeeds.SciMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jincity.scirssfeeds.SciArticleContent"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jincity.scirssfeeds.SciMyBroswer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jincity.scirssfeeds.SciSubMagazine"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.jincity.service.auto.AutoUpdateNews" />
        <service android:name="com.jincity.service.auto.AutoClearArticles" />
		
    </application>

</manifest>